@import "../../../public/static/css/global";

.pop-up {
  &__title {
    color: $text-color;
    font-weight: bold;
    font-size: 8px;
  }

  &__date {
    color: $text-color;
    font-weight: normal;
    font-size: 15px;
  }
}

// marker-cluster
.marker-cluster-vaccine {
	background-color: rgba(140, 180, 226, 0.6);
	}
.marker-cluster-vaccine div {
	background-color: rgba(57, 157, 204, 0.6);
	}

.marker-cluster-trap {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-trap div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-boar {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-boar div {
	background-color: rgba(241, 128, 23, 0.6);
	}

#map {
  position: absolute;
  width: 100%;
  // height: calc(100vh - var(--header-height) - var(--footer-height));
  top: $header-height - 1px;
  overflow: hidden;
  z-index: 0;
}

#reload-button {
  font-size: 20px;
  padding: 5px;
  background-color: #fafafa;
  border: none;
  border-radius: 3px;
}

#set-location-button {
  font-size: 20px;
  padding: 5px;
  background-color: #fafafa;
  border: none;
  border-radius: 3px;
}

#loading-mark {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 18px);
  z-index: 20;
  border-radius: 3px;
  filter: drop-shadow(0 0 3px #212121);
  visibility: visible;
}

// IE
@media all and (-ms-high-contrast: none) {
  #map {
    top: 60px;
    height: calc(100vh - 60px - 70px);
    top: 60px;
  }
}
