#map {
  position: absolute;
  width: 100%;
  height: 70vh;
  top: var(--header-height);
  overflow: hidden;
  z-index: 0;
}

// IE
@media all and (-ms-high-contrast: none) {
  #map {
    top: 60px;
  }
}
