@import "../../../public/static/css/global";

.modal-bg {
  // 画面全面に広げる
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;

  // どの要素より前に出すため，大きめの値を設定
  z-index: 100;

  // 背景色とブラー
  background-color: rgba($color: $text-color, $alpha: 0.3);
  backdrop-filter: blur(10px);

  // 子要素を上下中央揃え
  display: flex;
  justify-content: center;
  align-items: center;
}