// 変数
$margin-tb: 5px;
$margin-lr: 15px;
$border-weight: 2px;
$padding: 10px;

$header-height: 60px;
$footer-height: 70px;

$menu-item-height: 40px;
$menu-item-num: 4;

$text-color: #212121;
$small-text-color: #757575;
$primary-color: #ff9800;
$accent-color: #536dfe;
$boar-color: #842929;
$trap-color: #fbc02d;
$vaccine-color: #0288d1;
$danger-color: #ff0000;
$background-color: #fafafa;
$border-color: #bdbdbd;

$input-background-color: #ffffff;
$input-error-background-color: #ffcccc;

* {
  font-family: "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Arial",
    "Yu Gothic", sans-serif;
}

body {
  background-color: $background-color;
}

%input-base {
  padding: $padding;
  width: 100%;
  max-width: 400px;
  font-size: 18px;
  border: solid $border-weight $border-color;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: $input-background-color;
}

%input {
  @extend %input-base;
}

%input-error {
  @extend %input-base;
  border: solid $border-weight $danger-color;
  background-color: $input-error-background-color;
}

:root {
  --margin-tb: 5px;
  --margin-lr: 15px;
  --border: 2px;
  --padding: 10px;

  --header-height: 60px;
  --footer-height: 70px;

  --menu-item-height: 40px;
  --menu-item-num: 4;
}
