@import "../../../public/static/css/global";

.boar-form {
  width: 100%;

  &__description {
    margin: 15px $margin-lr $margin-tb $margin-lr;
    text-align: justify;
  }

  &__nthbody {
    padding: 15px;
    width: 100%;
    font-size: 24px;
    color: #212121;
    font-weight: bold;
    text-align: justify;
  }
}
