.footer {
  width: 100%;
  height: var(--footer-height);
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  filter: drop-shadow(0 0 5px #212121);

  &__child {
    padding: 3vw;
    box-sizing: border-box;
    text-align: center;
  }
}

// IE
@media all and (-ms-high-contrast: none) {
  .footer {
    height: 70px;
  }
}
