.footer {
  width: 100%;
  height: var(--footer-height);
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  filter: drop-shadow(0 0 5px #212121);

  &__text {
    font-size: 30px;
    font-weight: bold;
    color: #212121;
  }
}

// IE
@media all and (-ms-high-contrast: none) {
  .header {
    height: 70px;
  }
}
