.mapForAddInfo {
  position: absolute;
  width: calc(100% - var(--margin-lr) * 2);
  // height: calc(100vh - var(--header-height) - var(--footer-height));
  top: calc(var(--header-height) - 1px);
  left: var(--margin-lr);
  bottom: var(--footer-height);
  overflow: hidden;
  z-index: 0;
  display: flex;
  flex-direction: column;

  .description {
    margin-top: var(--margin-tb);
  }

  .mapForAddInfoDiv {
    margin-top: var(--margin-tb);
    margin-bottom: var(--margin-tb);
    height: 100%;
    box-sizing: border-box;
    border: solid 2px #bdbdbd;
    border-radius: 5px;
    position: relative;
  }
}

#mapForAddInfo {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

#reload-button {
  font-size: 20px;
  padding: 5px;
  background-color: #fafafa;
  border: none;
  border-radius: 3px;
}

#set-location-button {
  font-size: 20px;
  padding: 5px;
  background-color: #fafafa;
  border: none;
  border-radius: 3px;
}

#loading-mark {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 18px);
  z-index: 20;
  border-radius: 3px;
  filter: drop-shadow(0 0 3px #212121);
  visibility: visible;
}
