.mapForAddInfo {
  position: absolute;
  width: 100%;
  // height: calc(100vh - var(--header-height) - var(--footer-height));
  top: calc(var(--header-height) - 1px);
  left: 0;
  bottom: var(--footer-height);
  overflow: hidden;
  z-index: 0;
  display: flex;
  flex-direction: column;

  .description {
    margin: 15px var(--margin-lr) var(--margin-tb) var(--margin-lr);
    height: auto;
  }

  .mapForAddInfoDiv {
    margin: var(--margin-tb) var(--margin-lr) 15px var(--margin-lr);
    flex-grow: 1;
    position: relative;
    display: flex;
  }
}

#mapForAddInfo {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  z-index: 0;
  box-sizing: border-box;
  border: solid 2px #bdbdbd;
  border-radius: 5px;
}

#reload-button {
  font-size: 20px;
  padding: 5px;
  background-color: #fafafa;
  border: none;
  border-radius: 3px;
}

#set-location-button {
  font-size: 20px;
  padding: 5px;
  background-color: #fafafa;
  border: none;
  border-radius: 3px;
}

#loading-mark {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 18px);
  z-index: 20;
  border-radius: 3px;
  filter: drop-shadow(0 0 3px #212121);
  visibility: visible;
}

// IE
@media all and (-ms-high-contrast: none) {
  .mapForAddInfo {
    top: calc(60px - 1px);
    bottom: 70px;

    .description {
      margin: 15px 15px 5px 15px;
    }

    .mapForAddInfoDiv {
      margin: 5px 15px 15px 15px;
    }
  }
}
