.detailFooter {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  background-color: white;
  height: auto;
  z-index: 2;
  // box-shadow: 2px;
  box-shadow: 0px 1px 10px 0px;

  .flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }

  .NextButton {
    display: block;
    border-radius: 5px;
    background-color: #e87b15;
    padding: 15px;
    color: white;
    width: 100px;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 0px 3px 0px black;
  }
  .NextButton::after {
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin: -14px 0 0 0;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .PrevButton {
    display: block;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
    color: black;
    width: 100px;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 0px 3px 0px;
  }
  .PrevButton::after {
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin: -14px 0 0 0;
    border-top: solid 2px black;
    border-right: solid 2px black;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
}
