@import "../../../public/static/css/global.scss";

.version-info {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  background-color: #fafafa;

  .version-info-contents {
    text-align: center;
    margin: $margin-tb $margin-lr $margin-tb $margin-lr;
    color: $text-color;
  }

  .version {
    margin-top: 10px;
    font-size: 24px;
  }

  .history {
    margin-top: 30px;
    text-align: left;

    .history-title {
      font-size: 20px;
      font-weight: bold;
    }

    .history-contents {

      h3 {
        font-weight: 400;
        line-height: 200%;
      }
      ul,
      ol {
        margin: 0 0 0 24px;
        padding: 0;
        li {
          color: $small-text-color;
          font-size: 14px;
          line-height: 120%;
          margin-bottom: 5px;
        }
      }
    }
  }

  .footer-adjust {
    height: 20px;
  }
}

// IE
@media all and (-ms-high-contrast: none) {
  .version-info-contents {
    margin: 5px 15px 5px 15px;
  }
}
