@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-default;
  }
      
  body {
    @apply bg-background;
  }
}

@layer components {
  .button-shadow {
    filter: drop-shadow(0 0 5px #212121);
  }

  .button-shadow-active { 
    filter: brightness(60%) drop-shadow(0 0 5px #212121);
  }

  .shadow-selector {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  .flex-1-0-100 {
    flex: 1 0 100px;
  }

  .flex-0-1-100 {
    flex: 0 1 100px;
  }
}