body {
  background-color: #fafafa;
}

.image_area {
  text-align: center;
}

.image {
  margin: var(--margin-tb) var(--margin-lr) var(--margin-tb) var(--margin-lr);
  width: calc(100% - var(--margin-lr) * 2);
  max-width: 400px;
}

.title {
  margin: var(--margin-tb) var(--margin-lr) var(--margin-tb) var(--margin-lr);
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #ff9800;
  span {
    display: inline-block;
  }
}

.sub_title {
  margin: var(--margin-tb) var(--margin-lr) 50px var(--margin-lr);
  text-align: center;
  font-size: 20px;
  color: #212121;
  span {
    display: inline-block;
  }
}

.form {
  text-align: center;
  .login_error {
    margin: var(--margin-tb) var(--margin-lr) var(--margin-tb) var(--margin-lr);
    font-size: 20px;
    color: #ff0000;
  }
}

// IE
@media all and (-ms-high-contrast: none) {
  .image {
    margin: 5pt 15pt 5pt 15pt;
    width: calc(100% - var(--margin-lr) * 2);
    max-width: 400px;
  }

  .title {
    margin: 5pt 15pt 5pt 15pt;
  }

  .sub_title {
    margin: 5pt 15pt 50pt 15pt;
  }

  .login_error {
    margin: 5pt 15pt 5pt 15pt;
  }
}
