@import "../../../public/static/css/global.scss";

body {
  background-color: #fafafa;
  padding: 0;
  margin: 0;
  height: 100%;
}

.login {
  // 中の要素を左右中央揃え(最大幅400)
  margin: 0 auto;
  width: calc(100vw - #{$margin-lr} * 2);
  max-width: 400px;

  .image_area {
    text-align: center;
    margin-top: $margin-tb;
  }

  .image {
    width: 100%;
    text-align: center;
  }

  .title {
    width: auto;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: $primary-color;
    span {
      display: inline-block;
    }
  }

  .sub_title {
    width: auto;
    text-align: center;
    font-size: 20px;
    color: $text-color;
    span {
      display: inline-block;
    }
  }

  .version_num {
    width: auto;
    text-align: center;
    font-size: 18px;
    color: $small-text-color;
    span {
      display: inline-block;
    }
  }

  .form {
    width: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    .text_input_area {
      margin-top: 15px;
    }
    .login_error {
      margin-top: 20px;
      font-size: 20px;
      color: $danger-color;
    }
    .login_button {
      margin: 30px auto;
      width: 75vw;
      max-width: 300px;
    }
  }
}

// 高さが680px未満
@media screen and (max-height: 680px) {
  .copy_right {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    width: auto;
    span {
      display: inline-block;
    }
  }
}

@media screen and (min-height: 680px) {
  .copy_right {
    width: calc(100vw - var(--margin-lr) * 2);
    position: absolute;
    bottom: 10px;
    left: var(--margin-lr);
    right: var(--margin-lr);
    text-align: center;
    span {
      display: inline-block;
    }
  }
}

// IE
@media all and (-ms-high-contrast: none) {
  .login {
    // 中の要素を左右中央揃え(最大幅400)
    margin: 0 auto;
    width: 400px;
  }

  .image_area {
    text-align: center;
    margin-top: 5px;
  }

  .copy_right {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    width: 400px;
    span {
      display: inline-block;
    }
  }
}
