@import "../../../public/static/css/global";

.images-input {
  @extend %input;
  position: relative;

  &--error {
    @extend %input-error;
  }

  &__form {
    width: 100%;
    text-align: center;
  }

  &__buttonDiv {
    width: 100%;
    text-align: center;
  }

  &__preview {
    width: 100%;

    &__child {
      width: 100%;
      position: relative;

      &__image {
        width: 100%;
      }

      &__erase-button {
        position: absolute;
        top: -5px;
        right: -5px;
        font-size: 20px;
        width: 30px;
        height: 30px;
        font-weight: bold;
        text-align: center;
        color: $text-color;
        background-color: $background-color;
        border-radius: 30px;
        border: 0;
        box-sizing: border-box;
        filter: drop-shadow(0 0 2px #212121);
      }
    }

    &__child + &__child {
      margin-top: 10px;
    }

    &__child:last-child {
      margin-bottom: 10px;
    }
  }

  &__canvas {
    display: none;
  }
}

