.round_button {
  padding: 8px 20px 8px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fafafa;
  border-radius: 50px;
  border: 0;
  filter: drop-shadow(0 0 5px #212121);
  width: 100%;
  box-sizing: border-box;
}

.round_button:active {
  filter: brightness(60%) drop-shadow(0 0 5px #212121);
}
