*{
  padding: 0;
  margin: 0;
}
.infoTypeSelector{
  .__Title{
    background-color: #e87b15;
    text-align: center;
    color: white;
    padding: 10px 0px;
  }
  .__description{
    font-size: 20px;
    padding: 5px 0px 0px 10px;
  }
}
.boar_div img{
  position: absolute;
  top: 45px;
  left: 20px;
  width:60px;
}
.trap_div img{
  position: absolute;
  top: 45px;
  left: 20px;
  width:60px;
}
.vaccine_div img{
  position: absolute;
  top: 45px;
  left: 20px;
  width:60px;
}
.boar_div{
  position: absolute;
  top: 70px;
  width: 100%;
}
.trap_div{
  position: absolute;
  top: 143px;
  width: 100%;
}

.vaccine_div{
  position: absolute;
  top: 216px;
  width: 100%;
}
.label{
  font-size: 28px;
  width: 100%;
  margin: 5px;

}
.flex_prev{
  width:50%;
}
.flex_next{
  width: 50%;
}
.InfoTypeItemText p{
  width: 80vw;
  padding: 15px 0px 15px 20vw;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.trap_div p{
  border: none;
}
input[type=radio]{
  display: none;
  font-size: 100px;
  outline: none;
}
input[type=radio]:checked + .label p{
    background-color: #e87b15;
}
.PrevButton,.NextButton{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 40px;
  cursor: pointer;
}
.AddInfoFooter{
  width: 120%;
  position: fixed;
  left: -10%;
  bottom: 0px;
  padding-bottom:50px;
}
@media screen and (max-width:480px){
  .InfoTypeItemText p{
    position: absolute;
    top: 30%;
  }
  .boar_div{
    top:90px;

  }
  .trap_div{
    top:163px;
  }
  .vaccine_div{
    top:236px;
  }
  .boar_div img{
    width:50px;
    top: 33px;
    left: 12px;
  }
  .trap_div img{
    width:50px;
    top: 33px;
    left: 12px;
  }
  .vaccine_div img{
    width:50px;
    top: 33px;
    left: 12px;
  }
  .__description p{
    position: absolute;
    font-size: 18px;
    top:70px;
    padding: 3px 0px 0px 5px;
  }
  .label{
    z-index: 0;
  }
  .InfoTypeItemImage{
    z-index: 1;
  }
  .AddInfoFooter{
    background-color: white;
    height: 40px;
    z-index: 2;
    box-shadow: 2px;
    box-shadow: 0px -20px 25px -25px;
  }
  .NextButton{

  display: block;
  border-radius: 5px;
  background-color: #e87b15;
  padding: 15px;
  color: white;
  width: 100px;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 20px;
}
.NextButton::after{
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  margin: -14px 0 0 0;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.PrevButton{
  display: block;
  border-radius: 5px;
  background-color:white;
  padding: 15px;
  color: black;
  width: 100px;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 20px;
}
.PrevButton::after{
display: block;
content: "";
width: 6px;
height: 6px;
margin: -14px 0 0 0;
border-top: solid 2px black;
border-right: solid 2px black;
-webkit-transform: rotate(225deg);
        transform: rotate(225deg);
}
}
