* {
  padding: 0;
  margin: 0;
}

.info-type-selector {
  background-color: #fafafa;
  position: absolute;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: var(--footer-height);
  margin: auto;

  .description {
    margin: 15px var(--margin-lr) var(--margin-tb) var(--margin-lr);
  }

  .choices {
    margin: var(--margin-tb) var(--margin-lr) var(--margin-tb) var(--margin-lr);
  }
}

// IE
@media all and (-ms-high-contrast: none) {
  .info-type-selector {
    top: 60px;
    bottom: 70px;
  }
}
