* {
  padding: 0;
  margin: 0;
}

.logout_link {
  color: red;
}

.menu_selector {
  .__Title {
    background-color: #e87b15;
    text-align: center;
    color: white;
    padding: 10px 0px;
  }

  .__List {
    font-size: larger;
    text-align: center;
    p {
      margin: 10px;
    }
  }
}
