.mesh_num_input {
  position: relative;
  width: 100%;
  max-width: 400px;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .city_input {
    box-sizing: border-box;
    flex-basis: 140px;
    flex-grow: 3;
  }

  .city_num1_break {
    flex-basis: 3px;
  }

  .num1_input {
    input {
      text-align: center;
    }
    flex-basis: 80px;
    flex-grow: 1;
  }

  .hyphen {
    text-align: center;
    flex-basis: 15px;
    // flex-grow: 0.3;
  }

  .num2_input {
    input {
      text-align: center;
    }
    flex-basis: 50px;
    flex-grow: 0.7;
  }
}