.vaccine_info_form {
  .__title {
    background-color: #00b0f0;
    text-align: center;
    color: white;
    padding: 10px 0px;
  }
  .__description {
    font-size: 20px;
    padding: 5px 0px 0px 10px;
  }
  .__info {
    z-index: 0;
    margin-bottom: 100px;
    h3 {
      font-size: 20px;
      margin-top: 10px;
      padding: 5px;
    }
    p {
      font-size: 24px;
      padding: 10px;
      width: auto;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
  }
}
