@import "../public/static/css/global.scss";

.error-page {
  max-width: 400px;
  width: 100%;
  height: 100vh;
  margin: auto;

  .contents {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      flex: 0 1 100px;
      margin: 0 $margin-lr 0 $margin-lr;

      img {
        width: 100%;
      }
    }

    .title {
      flex: 1 0 100px;

      font-size: 30px;
      font-weight: bold;
      margin: 0 $margin-lr 0 0;
    }
  }
  .description {
    margin: $margin-tb $margin-lr $margin-tb $margin-lr;
  }
}
