@import "../../../public/static/css/global";

.select-input-div {
  position: relative;
  width: 100%;
  max-width: 400px;

  select {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    border: none;
    border-radius: 0;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    background-color: #00000000;
    z-index: 2;
  }

  &__select-input {
    @extend %input;
    position: relative;

    &--error {
      @extend %input-error;
    }
  }
}

.select-input-div::after {
  content: "▼";
  color: #757575;
  font-size: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

// IE
@media all and (-ms-high-contrast: none) {
  .select-input {
    padding: 10px;
    width: 100%;
    font-size: 18px;
    border: solid 2px #bdbdbd;
    border-radius: 10px;
    box-sizing: border-box;
  }
}
