@import "../../../public/static/css/global";

.modal-body {
  white-space: pre-wrap;
}

.modal-footer {
  margin-top: 15px;

  display: flex;
  justify-content: space-around;

  .button-wrapper {
    width: 40%;
  }

  .button-text {
    font-size: 16px;
  }
}