* {
    padding: 0;
    margin: 0;
}
.fa-map{
  font-size: 0px;
  color:#e87b15;
}
.fa-cog{
  font-size: 100px;
}
.regist__button{
  text-align: center;
}
.regist__button img{
  position: absolute;
  bottom: 80px;
  right: 80px;
  -webkit-filter: drop-shadow(10px 10px 3px 10px rgba(0,0,0,.8));
  filter: drop-shadow(10px 10px 10px rgba(0.0,0.0,0.0,0.2));
  width: 80px;
}
.footer-nav{

}
button{
  background-color: white;
  cursor: pointer;
  border: none;
  outline: none;
}
button:hover{
  color:#333;
}
@media screen and (max-width:480px){
  .footer-nav{
    position: relative;
    background-color: white;
    z-index: 2;
    box-shadow: -10px -10px -10px -10px rgba(0,0,0,0.6) inset;
  }
  .fa-map{
    font-size: 40px;
    position: fixed;
    top: 85%;
    left: 12%;
  }
  .regist__button img{
    bottom: 0;
    top: -50px;
    right: 0;
    left: 37%;
    width: 26%;
  }
  .fa-cog{
    font-size: 40px;
    position: fixed;
    top: 85%;
    right: 12%;
  }
  .label{
    &__regist{
      font-size: 16px;
      position: fixed;
      top: 93%;
      left: 40%;
    }
    &__map{
      font-size: 14px;
      position: fixed;
      top: 95%;
      left:12%;
    }
    &__setting{
      font-size: 14px;
      position: fixed;
      top: 95%;
      right: 14%;
    }
  }
}
