.mesh-num-input {
  position: relative;
  width: 100%;
  max-width: 400px;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__city-input {
    box-sizing: border-box;
    flex-basis: 140px;
    flex-grow: 3;
  }

  &__city-num1-break {
    flex-basis: 3px;
  }

  &__num1-input {
    input {
      text-align: center;
    }
    // Chrome、Safariの上下ボタン非表示
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    // Firefox、IEの上下ボタン非表示
    input[type="number"] {
      -moz-appearance:textfield;
    }
    flex-basis: 80px;
    flex-grow: 1;
  }

  &__hyphen {
    text-align: center;
    flex-basis: 15px;
    // flex-grow: 0.3;
  }

  &__num2-input {
    input {
      text-align: center;
    }
    // Chrome、Safariの上下ボタン非表示
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    // Firefox、IEの上下ボタン非表示
    input[type="number"] {
      -moz-appearance:textfield;
    }
    flex-basis: 50px;
    flex-grow: 0.7;
  }
}