@import "../../../public/static/css/global";

.info-input {
  margin: 15px $margin-lr 15px $margin-lr;

  &__title {
    width: 100%;
    margin: 15px 0px 5px 0px;
    font-size: 18px;
    color: $text-color;
    font-weight: bold;
  }

  &__error {
    width: 100%;
    margin: -5px 0px 5px 0px;
    font-size: 14px;
    color: $danger-color;
  }

  &__required-mark {
    margin-left: 5px;
    font-weight: bold;
    color: $danger-color;
  }
}
