@import "../../../public/static/css/global";

.date-input-div {
  position: relative;
  width: 100%;
  // max-width: 400px;

  &__input {
    @extend %input;

    &--error {
      @extend %input-error;
    }
  }

  input {
    -webkit-appearance: none;
  }

  input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type="date"]::-webkit-clear-button {
    -webkit-appearance: none;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity: 0;
    z-index: 1;
    margin: 0;
  }
}

.date-input-div::after {
  content: "▼";
  color: $small-text-color;
  font-size: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-input-for-safari {
  padding: 0;
  width: 100%;
  max-width: 400px;
  font-size: 18px;
  display: flex;

  .date-form-element {
    display: flex;
    align-items: center;
  }

  .year-element {
    flex-grow: 5;
    // background-color: red;
  }

  .month-element {
    flex-grow: 3;
    margin-left: 15px;
    margin-right: 15px;
    // background-color: green;
  }

  .day-element {
    flex-grow: 3;
    // background-color: blue;
  }
}

// 矢印を消す
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

