.text_input {
  margin: var(--margin-tb) var(--margin-lr) var(--margin-tb) var(--margin-lr);
  padding: var(--padding);
  width: calc(
    100vw - var(--margin-lr) * 2 - var(--padding) * 2 - var(--border) * 2
  );
  max-width: 400px;
  font-size: 18pt;
  border: solid var(--border) #bdbdbd;
  border-radius: 10px;
}

// IE
@media all and (-ms-high-contrast: none) {
  .text_input {
    margin: 5px 15px 5px 15px;
    padding: 10px;
    width: 400px;
    font-size: 18pt;
    border: solid 2px #bdbdbd;
    border-radius: 10px;
  }
}
