.text_input {
  padding: var(--padding);
  width: 100%;
  max-width: 400px;
  font-size: 18px;
  border: solid var(--border) #bdbdbd;
  border-radius: 10px;
  box-sizing: border-box;
}

// IE
@media all and (-ms-high-contrast: none) {
  .text_input {
    padding: 10px;
    width: 380px;
    font-size: 18px;
    border: solid 2px #bdbdbd;
    border-radius: 10px;
    box-sizing: border-box;
  }
}
