@import "../../../public/static/css/global.scss";

.list {
  background-color: $background-color;
  width: 100%;

  &__contents {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    margin: 10px $margin-lr $margin-tb $margin-lr ;
    width: auto;

    &__footer-adjuster {
      height: 10px;
    }
  }
}