@import "../../../public/static/css/global.scss";

.list {
  background-color: $background-color;
  width: 100%;

  &__contents {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    margin: 10px $margin-lr $margin-tb $margin-lr ;
    width: auto;

    &__footer-adjuster {
      height: 10px;
    }
  }
}

.import-form {
  width: 100%;
  margin: 0 0 30px 0;

  &__title {
    font-size: 24px;
    font-weight: bold;
  }

  &__form {
    box-sizing: border-box;
    border: solid 2px $border-color;
    border-radius: 10px;
    padding: 10px $margin-lr 10px $margin-lr;
    width: 100%;

    &__grid {
      display: grid;
      display: -ms-grid;
      grid-template-columns: 150px 1fr;
      -ms-grid-columns: 150px 1fr;
      -ms-grid-rows: auto auto auto;

      &__title {
        display: flex;
        grid-column: 1/2;
        -ms-grid-column: 1;
        justify-content: center;
        align-items: center;
        margin: 5px;
      }

      &__input {
        grid-column: 2/3;
        -ms-grid-column: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
        text-align: left;
        margin: 5px;
      }

      &__excel {
        grid-row: 4;
        -ms-grid-row: 4;
      }

      &__button-div {
        grid-column: 1/3;
        -ms-grid-columns: 1;
        -ms-grid-column-span: 2;
        grid-row: 5;
        -ms-grid-row: 5;

        &__button {
          margin: 20px auto $margin-tb auto;
          max-width: 400px;
        }
      }

      &__message-div {
        grid-column: 1/3;
        -ms-grid-columns: 1;
        -ms-grid-column-span: 2;
        margin-top: 10px;
        grid-row: 6;
        -ms-grid-row: 6;

        text-align: center;
        &__content {
          font-weight: bold;
        }

        &__error {
          color: $danger-color;
        }
      }
    }
  }

}