.info-type-item-image {
  width: calc(36px * 36 / 25);
  height: 36px;
  position: relative;

  .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
